h1 {
 font-size: 100px;
 text-align: center;
 color: white;
}

body {
 background: rgb(95, 93, 232);
} 

img {
  width: 50%;
  height: 50%;
  margin: 10px auto 20px;
  display: block;
}

p {
 text-align: center;
 color: black;
}

.link {
  margin-top:10px;
  background-color: rgb(160, 158, 248);
  position: absolute;
  right: 50%;
  transform: translate(50%,-50%);
  padding: 10px;
  border-radius: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(40, 24, 100);
  transition: 0.5s;
}