h1 {
 font-size: 100px;
 text-align: center;
 color: white;
}

body {
 background: rgb(95, 93, 232);
} 

img {
  width: 50%;
  height: 50%;
  margin: 10px auto 20px;
  display: block;
}

p {
 font-size: 75px;
 text-align: center;
 color: black;
}

